.edit-header {
  display: flex;
  margin-bottom: 20px;
}

.edit-content {
  display: flex;
  height: 100%;

  .edit-content-left {
    flex: 1;
    border: none;
    outline: none;
    resize: none;
    background-color: #999;
    overflow: auto;
    height: 200px;
  }

  .edit-content-right {
    flex: 1;
    overflow: auto;
  }
}